venv/
env/
ENV/
.venv/
.ENV/
*.env
.env.*
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.egg
*.egg-info/
dist/
build/
wheels/
*.log
.idea/
.vscode/
.DS_Store
Thumbs.db
instance/
*.db
data/*
audio/*
cert.pem
key.pem